include README.md
include LICENSE
include requirements.txt
recursive-include patterns *.json
recursive-include extras *.json
recursive-include functions *.json *.py
recursive-include cdc_data *.csv
recursive-include scripts *.py
